.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  padding: 1rem 6rem;
  background-color: var(--primary-color);
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
  align-items: start;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 16px;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  font-family: var(--secondary-font);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent-color);
}

.deleteButton {
  background: var(--red-color);
  padding: 0.5rem;
  border: 1px solid var(--red-color);
  cursor: pointer;
  height: 100%;
  border-radius: 8px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.deleteButton img {
  width: 22px;
  height: auto;
  margin: 0;
}

.deleteButton:hover {
  border-color: var(--accent-color);
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  columns: 2;
  width: 60%;
  gap: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
  border-left: 1px solid var(--accent-color);
  gap: 1rem;
  max-height: auto;
  overflow-y: auto;
}

.footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.modalContent {
  display: flex;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 16px;
  width: 35vw;
  flex-direction: column;
  gap: 1rem;
}
