.table {
  width: 100%;
  height: 100%;
}

.table th {
  font-size: 0.85rem;
  font-family: var(--secondary-font);
  color: var(--accent-color);
}

.table td {
  font-size: 0.9rem;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

.table tr {
  display: table-row;
  vertical-align: middle;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  color: var(--text-color);
}