@import "tailwindcss";

:root {
  margin: 0 auto;
  background-color: var(--primary-color);
  font-size: 16px;
  background: #d9ffe9;
  background: #fffcff;

  --main-font: "Chivo", sans-serif;
  --secondary-font: "IBM Plex Mono", monospace;
  --primary-color: #fffcff;
  --inverted-color: #28282b;
  --secondary-color: #f2f2f2;
  --tertiary-color: #96e6b3;
  --surface-color: #efefef;
  --text-color: #0d2818;
  --border-color: #627264;
  --accent-color: #627264;
  --glass-color: rgba(140, 175, 156, 0.3);

  --red-color: #ef3054;
  --green-color: #96e6b3;
  --blue-color: #97d2fb;
  --gray-color: #efefef;
  --yellow-color: #ffd54f;

  @media (max-width: 1920px) {
    padding: 0 1rem;
  }
  @media (max-width: 768px) {
    padding: 0 1rem;
  }
  @media (max-width: 480px) {
    padding: 0 0.5rem;
  }
}
